.elementor-1326 .elementor-element.elementor-element-4d94dae{--display:flex;--overflow:hidden;--margin-top:0px;--margin-bottom:0px;--margin-left:0px;--margin-right:0px;--padding-top:0px;--padding-bottom:0px;--padding-left:0px;--padding-right:0px;}.elementor-1326 .elementor-element.elementor-element-7591f34 .elementor-wrapper{--video-aspect-ratio:0.5625;}#elementor-popup-modal-1326{background-color:rgba(0,0,0,.8);justify-content:center;align-items:center;pointer-events:all;}#elementor-popup-modal-1326 .dialog-message{width:640px;height:auto;}#elementor-popup-modal-1326 .dialog-close-button{display:flex;}#elementor-popup-modal-1326 .dialog-widget-content{box-shadow:2px 8px 23px 3px rgba(0,0,0,0.2);}@media(min-width:768px){.elementor-1326 .elementor-element.elementor-element-4d94dae{--content-width:300px;}}/* Start custom CSS for container, class: .elementor-element-4d94dae */#elementor-popup-modal-1326 .dialog-close-button{
    border: 2px solid #673E49;
    border-radius: 4px;
    padding: 5px;
    background: white;
}

.elementor-popup-modal .dialog-close-button svg{
    fill: #673E49;
}/* End custom CSS */